body {
  padding-top: 50px;
  margin-bottom:0%;
  background-color:#FAFAFA;
}

.helpdesk-template {
  margin-left:15px;
  text-align: center;
}

.container-panel{
    position:relative;
    margin: 2% 2% 2% 2%;
    text-align:center;
    height:auto;
}

.panelCategoria {
    border:3px solid;
    border-radius:15px;
    margin: 2% 20% 20% 20%;
    height:500px;
    top: 16px;
    left: 2px;
}

.contenido{
    top:-11px;
    position:relative;
    background:white;
    height:400px;
    left: -16px;
}

.box {
    margin: 2% 2% 2% 2%;
}

.panel-inferior{
    text-align:center;
    background-color: #E6E6E6; 
    border-top:1px solid #006699;
}

.panel-titulo{
    margin:2% 2% 2% 2%; 
    border-bottom-style:solid; 
    border-bottom-width:thin; 
    border-bottom-color:#006699;
    Font-Size:XX-Large;
    height:45px;
    text-align:center;
}

.CSSClass{ 
    word-wrap: break-word;
    column-width:400px;
}

.input-group-style-blue{
    background:#428bca; 
    color:white; 
    border:black
}

