H1
{
	font-size: medium;
	color: #4A3C8C;
	font-family: Arial;
}

.Grid
{
	border: solid 1px #E7E7FF;
}

.Grid td
{
	border: solid 3px #FFFFFF;
	margin: 3px 3px 3px 3px;
	font-family: Arial;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.GridHeader
{
	font-weight: bold;
	color: #F7F7F7;
	background-color: #4A3C8C;
}

.GridHeader a
{
	text-decoration: none;
	color: #F7F7F7;
	padding: 0px 15px 0px 15px;
}

.GridHeader a:hover
{
	text-decoration: underline;
	background: #4A3C8C url(images/spin.gif) no-repeat 0 100%;
}

.GridItem, .GridAltItem
{
	font-size: smaller;
	color: #4A3C8C;
}

.GridItem
{
	background-color: #E7E7FF;
}

.GridAltItem
{
	background-color: #F7F7F7;
}

.GridPager
{
	font-size: small;
	background-color: #E7E7FF;
}